[gcode_macro PRINT_START]
gcode:
  {% set TOOL = params.TOOL | default(0)| int %}
  {% set TOOL_TEMP = params.TOOL_TEMP | default(0) | int %}
  {% set BED_TEMP = params.BED_TEMP | default(0) | int %}
  {% set ADAPTIVE_BED_MESH = params.ADAPTIVE_BED_MESH | default(1) | int %}
  {% set PROBE_TEMP = 150 %}

  {% if printer.tool_probe_endstop is defined %}
    M117 Disabling crash detection
    STOP_CRASH_DETECTION
  {% endif %}

  M117 Heating Bed
  STATUS_HEATING
  M190 S{BED_TEMP}

  INITIALIZE_TOOLCHANGER
  T0 ; Ensure we have T0 active for pre print calibrations.

  M117 Heating nozzle for probing
  STATUS_HEATING
  M109 S{PROBE_TEMP}

  M117 Homing
  STATUS_HOMING
  G28

  M117 Quad Gantry Level
  STATUS_LEVELING
  QUAD_GANTRY_LEVEL

  G28 Z ; Home Z again after QGL
  M117 Homing X,Y on Sexball
  STATUS_HOMING

  ; Figure out which tools are used
  {% set used_tools = [] %}
  {% if 'T0_TEMP' in params %}{% set used_tools = used_tools + [0] %}{% endif %}
  {% if 'T1_TEMP' in params %}{% set used_tools = used_tools + [1] %}{% endif %}
  {% if 'T2_TEMP' in params %}{% set used_tools = used_tools + [2] %}{% endif %}
  {% if 'T3_TEMP' in params %}{% set used_tools = used_tools + [3] %}{% endif %}

  {% if used_tools | length == 1 and used_tools[0] == 0 %} ; If only T0 is used
    M117 Skipping Sexball homing
  {% else %}
    M117 Performing Sexball homing
    CALIBRATE_FIX_PROBE_POSITION ; Home X,Y on Sexball
    CENTER ; Move toolhead to center so it doesn't hit Sexball
  {% endif %}

  {% if ADAPTIVE_BED_MESH|int == 1 %}
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE ADAPTIVE=1
  {% elif ADAPTIVE_BED_MESH|int == 0 %}
    BED_MESH_CLEAR
  {% else %}
    BED_MESH_PROFILE LOAD=default
  {% endif %}

  ; Switch to the initial printing tool and preheat it.
  {% if TOOL > 0 %}
    M104 T0 S0 ; Shutdown T0.
      T{params.TOOL} ; Switch to the initial printing tool
  {% endif %}

  M117 Waiting on T{params.TOOL} S{TOOL_TEMP}C
  STATUS_HEATING
  M109 S{TOOL_TEMP} ; Wait for the tool to reach the target temperature

  {% if printer.tool_probe_endstop is defined %}
    M117 Re-enabling crash detection
    START_CRASH_DETECTION
  {% endif %}

  # STATUS_CLEANING
  # CLEAN_NOZZLE

  M107 ; turn off part cooling fan
  RESPOND MSG="Starting Print."
  STATUS_PRINTING
  M117 Printing.

  SKEW_PROFILE LOAD=Calilantern