[gcode_macro PRINT_END]
gcode:
  SET_SKEW CLEAR=1 
  
  {% set th = printer.toolhead %}
  {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
  {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
  {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

  M220 S100 ; Set Feed rate to 100%
  M221 S100 ; Set Flow rate to 100%

  SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable pressure advance

  G92 E0 ; zero the extruder
  G1 E-2.0 F3600 ; retract filament
  M400 ; wait for buffer to clear
  
  # G91
  # G1 Z6 F3000 ; raise head slightly
  # G90

  # {% if th.position.z > 6 %}
  #     CLEAN_NOZZLE
  # {% endif %}

  SET_VELOCITY_LIMIT ACCEL=10000 ACCEL_TO_DECEL=5000
    
  T0 ; Switch to tool 0

  G90 ; absolute positioning
  G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 ; move nozzle to remove stringing
  G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600 ; park nozzle at rear

  SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0 ; reset gcode offset

  {% for tn in printer.toolchanger.tool_numbers %}
      M104 S0 T{tn} ; shutdown tool heater
      M107 T{tn} ; shutdown tool fan
      SET_STEPPER_ENABLE STEPPER=extruder{tn if tn > 0 else ''} ENABLE=0 ; disable extruder stepper
  {% endfor %}

  M140 S0 ; shutdown bed heater